/* CSS styling for body and for media quaries */

body {
    margin-top: 5.5rem;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ebd8d9ff;
    font-size: 9rem;
}


/* for sm screens */
@media (max-width: 479px) {
    h1 {
        font-size: 35vw;
    }
    input::placeholder, .list-group-item.no-tasks {
        font-size: 4vw;
    }
    input, #screen {
        text-align: center;
        width: 100%;
    }
    .list-group-item {
        padding-left: 20px;
        padding-right: 22px;
    }
    .list-group-item-todo, input {
        font-size: 6vw;
    }
    .x-container {
        padding-left: 6px;
        padding-right: 8px;
    }
}
/* for lg screens */
@media (min-width:991px) {
    input, #screen {
        padding-left: 5px;
    }
    .list-group-item {
        padding-left: 92px;
        padding-right: 92px;
    }
    .x-container {
        padding-right: 40px;
        padding-left: 40px;
    }
}