/* CSS styling for the todo card */

div.todo-card {
    margin: 0 auto;
    margin-bottom: 8rem;
    border-radius: 0;
    background: #fff;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0, 0, 0, 0.15),
        0 1rem 1rem rgba(0, 0, 0, 0.15),
        0 1.5rem 2rem rgba(0, 0, 0, 0.1);
    font-size: 25px;
}

li.no-tasks {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #6c757d;
}

input {
    border: none;
    width: 100%;
}

.list-group-item {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
}

.list-group-item:hover .x-container {
    display: inline-flex;
}

.list-group-item-todo {
    max-width: 720px;
    overflow-x: auto;
}

.x-container {
    display: none;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}

.fa-x {
    color: #ebd8d9ff;
    font-size: 14px;
}

.fa-x:hover {
    color: #c6939d;
    cursor: pointer;
}

.card-footer {
    background-color: white;
    height: 38px;
    display: flex;
    align-items: center;
    font-size: 60%;
}